*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */
$color-blue: #2196F3;
$color-black: #212121;
$color-grey: #2F303A;
$color-light-grey: #757575;
$color-light: #F5F4FA;
$color-white: #FFFFFF;
$color-nav-border: #ECECEC;

/* Global */
body {
  font-family: 'Roboto', sans-serif;
  color: $color-black;

a {
    text-decoration: none;
    color: $color-black;
  }

  // header {
  //   padding: 0 215px;
  // }

  section {
    padding: 90px 215px 0 215px;
  }
  section:last-child {
    padding-bottom: 90px;
  }

  footer {
    padding: 60px 215px;
  }

  ul {
    list-style-type: none;
  }
  h2 {
    font-size: 36px;
  }
}

/* Buttons */
.splash-button {
  width: 200px;
  height: 50px;
  background-color: $color-blue;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  color: $color-white;
  margin-top: 30px;
  cursor: pointer;
}
.portfolio-button {
  width: 93px;
  height: 38px;
  background-color: $color-light;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  color: $color-black;
  margin-top: 30px;
  cursor: pointer;
}

.portfolio-button:hover {
  width: 93px;
  height: 38px;
  background-color: $color-blue;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);  border-radius: 4px;
  font-weight: bold;
  color: $color-white;
  margin-top: 30px;
  cursor: pointer;
}

/* Logo */
.logo--black {
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: bold;
  
  span {
    color: $color-blue;
  }
}
.logo--white {
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: $color-white;
  
  span {
    color: $color-blue;
  }
}

/* Navigation */
nav {
  ul {
    li {
      padding: 0 23px;

      a {
        font-size: 14px;
      }
      a:hover {
        color: $color-blue;
      }
    }
  }
}

/* Header */
header {
  width: 100%;
  
  .navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 215px;
    border: 1px solid $color-nav-border;
    
    ul {
      display: flex;
      
      li {
        padding: 0 25px;
        
        a {
          font-size: 14px;
          font-weight: 500;
        }
        a:hover {
          color: $color-blue;
        }
      }
    }
  }
}

/* Splash */
.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: $color-grey;
  color: $color-white;
  text-align: center;

  h1 {
    font-size: 44px;
    max-width: 650px;
    letter-spacing: 0.06em;
  }
}

/* Our Strengths */
.strengths {
  ul {
    display: flex;
    justify-content: space-between;

    li {
      h4 {
        padding-bottom: 10px;
        font-size: 14px;
        font-weight: bold;
      }
      p {
        line-height: 24px;
        color: $color-light-grey;
        font-size: 14px;
        max-width: 260px;
      }
    }
  }
}

/* About */
.about {
  h2 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 50px;
  }
  ul {
    display: flex;
    justify-content: space-between;
  }
}

/* Our Team */
.our-team {
  padding-top: 90px;
  margin-top: 90px;
  background-color: $color-light;

  h2 {
    text-align: center;
    padding-bottom: 50px;
  }
  ul {
    display: flex;
    justify-content: space-between;

    li {
      text-align: center;
      background: #FFFFFF;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;

      h4 {
        padding-top: 30px;
      }

      p {
        padding: 10px 0 30px 0;
      }
    }
  }
}

/* Footer */
footer {
  height: 250px;
  background-color: $color-grey;
  color: $color-white;

  a {
    margin-top: 60px;
  }

  ul {
    li {
      padding-top: 15px;

      p {
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
      }

      a {
        font-size: 14px;
        font-style: normal;
        color: $color-white;
        color: #FFFFFF99;
      }
    }
    li:first-child {
      padding-top: 30px;
    }
  }
}

/* Portfolio page */
.portfolio-buttons-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;

  li {
    padding-left: 8px;
  }
}
 
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;

  li {
    margin: 0 30px 30px 0;
    border: 1px solid #EEEEEE;

    h3 {
      padding-top: 20px;
      padding-left: 24px;
      font-size: 18px;
    }

    p {
      color: $color-light-grey;
      padding: 5px 24px 20px 24px;
    }
  }

  li:nth-child(3n) {
    margin-right: 0;
  }
}